<a href="https://colab.research.google.com/github/william-toscani/Data_Visualization_Project/blob/main/Data_Viz_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Libraries

In [ ]:
!pip install pandasql

In [ ]:
import requests
import pandas as pd
import numpy as np
from pandasql import sqldf
sql = lambda q: sqldf(q, globals())

import plotly.express as px
import plotly.graph_objects as go

# Datasets

## Population

In [39]:
pop_df = pd.read_csv("https://ourworldindata.org/grapher/population-with-un-projections.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})
pop_metadata = requests.get("https://ourworldindata.org/grapher/population-with-un-projections.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

display(pop_df.head())
#display(pop_metadata)
#display(pop_df.info())
#display(pop_df.describe())
#display(pop_df.columns)
#display(pop_df.shape)
#display(pop_df.dtypes)
#display(pop_df.isnull().sum())

,Entity,Code,Year,population__sex_all__age_all__variant_estimates,population__sex_all__age_all__variant_medium
0,Afghanistan,AFG,1950,7776180.0,NaN
1,Afghanistan,AFG,1951,7879343.0,NaN
2,Afghanistan,AFG,1952,7987784.0,NaN
3,Afghanistan,AFG,1953,8096703.0,NaN
4,Afghanistan,AFG,1954,8207954.0,NaN

Index(['Entity', 'Code', 'Year',
       'population__sex_all__age_all__variant_estimates',
       'population__sex_all__age_all__variant_medium'],
      dtype='object')

(38656, 5)

Entity                                              object
Code                                                object
Year                                                 int64
population__sex_all__age_all__variant_estimates    float64
population__sex_all__age_all__variant_medium       float64
dtype: object

Entity                                                 0
Code                                                2718
Year                                                   0
population__sex_all__age_all__variant_estimates    19712
population__sex_all__age_all__variant_medium       18944
dtype: int64

## GDP

In [ ]:
from IPython.core.interactiveshell import dis
gdp_df = pd.read_csv("https://ourworldindata.org/grapher/gdp-worldbank.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})
gdp_metadata = requests.get("https://ourworldindata.org/grapher/gdp-worldbank.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

display(gdp_df.head())
#display(gdp_metadata)
#display(gdp_df.info())

## Energy production by source

In [ ]:
from numpy import e
elec_prod_df = pd.read_csv("https://ourworldindata.org/grapher/electricity-prod-source-stacked.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})
elec_prod_metadata = requests.get("https://ourworldindata.org/grapher/electricity-prod-source-stacked.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

display(elec_prod_df.head())
#display(elec_prod_metadata)
#display(elec_prod_df.info())

# Data Analysis

Research question: what are the major countries (in terms of gdp and population) for the electricity consumption via fossil?

In [ ]:
fossil = np.array(["oil_generation__twh_chart_electricity_prod_source_stacked","gas_generation__twh_chart_electricity_prod_source_stacked", "coal_generation__twh_chart_electricity_prod_source_stacked"])
renewables = np.array(["other_renewables_excluding_bioenergy_generation__twh_chart_electricity_prod_source_stacked", "bioenergy_generation__twh_chart_electricity_prod_source_stacked",
                       "hydro_generation__twh_chart_electricity_prod_source_stacked", "solar_generation__twh_chart_electricity_prod_source_stacked", "wind_generation__twh_chart_electricity_prod_source_stacked"])

elec_prod = sql(f"""
SELECT Entity, year, {",".join(fossil)}, {",".join(renewables)} FROM elec_prod_df
WHERE CODE IS NOT NULL AND year > 1985
ORDER BY year
""")

display(elec_prod)

display(elec_prod.info())

In [ ]:
px.bar("", x='year', y='')